{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biogas Calculator</title>
    <link rel="stylesheet" href="{% static 'asset/calculate.css' %}" />
</head>
<body>
    <header>
        <img src="{% static 'asset/unesco.svg' %}" alt="" />
        <h2>Biogas Calculator</h2>
    </header>

    <div class="main">
        <form id="form" action="{% url 'calculate_percentage_of_fat' %}" method="POST">
            {% csrf_token %}

            <label for="weight_of_flask">
                <p>Weight of Flask (g)</p>
                <input type="number" id="weight_of_flask" name="weight_of_flask" placeholder="Weight of Flask" />
            </label>

            <label for="weight_of_oil">
                <p>Weight of Oil (g)</p>
                <input type="number" id="weight_of_oil" name="weight_of_oil" placeholder="Weight of Oil" />
            </label>

            <label for="weight_of_empty_flask">
                <p>Weight of Empty Flask (g)</p>
                <input type="number" id="weight_of_empty_flask" name="weight_of_empty_flask" placeholder="Weight of Empty Flask" />
            </label>

            <label for="weight_of_sample">
                <p>Weight of Sample (g)</p>
                <input type="number" id="weight_of_sample" name="weight_of_sample" placeholder="Weight of Sample" />
            </label>

            <input type="submit" value="Calculate Percentage of Fat" name="submit_button" />
        </form>

        <div id="loading">Calculating...</div>
        <div id="result">
            <!-- Placeholder for result and response message -->
            <!-- {% if result %}
            <p>Biogas Production: {{ result.biogas_production }}</p>
            <p>Response Message: {{ result.response_message }}</p>
            {% endif %} -->
        </div>
    </div>

    <div id="demo">Demo</div>

    <script src="{% static 'asset/calculate.js' %}" type="module"></script>
</body>
</html>
