<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
    <title>Biogas Calculator</title>
    <link rel="stylesheet" href="./asset/calculate.css" />
  </head>
  <body>
    <header>
      <img src="./asset/unesco.svg" alt="" />
      <h2>Biogas Calculator</h2>
    </header>

    <div class="main">
      <form id="form">
        <label for="input1">
          <p>Input 1</p>
          <input type="number" id="input1" placeholder="Input 1" />
        </label>

        <label for="input1">
          <p>Input 1</p>
          <input type="number" id="input1" placeholder="Input 1" />
        </label>

        <label for="input1">
          <p>Input 1</p>
          <input type="number" id="input1" placeholder="Input 1" />
        </label>

        <input type="submit" value="Submit" />
      </form>

      <div id="loading">Loading...</div>
      <div id="result">Your data has 5% of A and 12.6kg of B</div>
    </div>

    <div id="demo">Demo</div>
  </body>

  <script src="./asset/calculate.js"></script>
</html>
